    <footer>
      <p>&copy;2019-2020 Dharun Prakash Raju</p>
      <div id="social">
        <a href="https://www.github.com/Dharun" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i><a/>
        <a href="https://www.linkedin.com/in/Dharun" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i><a/>
        <a href="https://twitter.com/Dharun" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i><a/>
      </div>
    </footer>
  </body>
</html>
