<%- include partials/header.ejs %>
<div id="container">
  <h1>
    <%= title %>
  </h1>
  <section id="textbox">
    <h2>Introduction</h2>
    <p>
      My name is Dharun, and I’m currently looking for a job in youth services. I have 10 years of experience
      working with youth agencies. I have a bachelor’s degree in outdoor education. I raise money, train leaders, and
      organize units. I have raised over $100,000 each of the last six years. I consider myself a good public speaker,
      and I have a good sense of humor. “Who do you know who works with youth?”
    </p>


    <h2>Hobbies</h2>
    <p>“I like arts and crafts. I’m a creative / practical person, and like doing things with my hands.”

      “I’m an outgoing person, and like socialising / hanging out with friends.”

      “I enjoy being physically active, and spend a lot of time playing sports and team games.”
    </p>
    <p>
      I love technology because it’s the triumph of the human intellect. The more I study and understand technology, the
      more I feel that nothing in the universe is out of reach. There’s even a great rush of power that comes from
      coding your first simple “Hello World” program. Getting it to run successfully, seeing those two words on the
      screen and knowing that YOU put them there just makes you think of the endless possibilities…
    </p>
  </section>
</div>
<%- include partials/footer.ejs %>