<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <section id="textbox">
      <p>If you would like a copy of my resume, you can <a href="/downloads/resume.pdf" target="_blank">download it here</a>. Otherwise please use
        the form below to contact me via email. (Form to follow using mail server).</p>
    </section>
  </div>
  <%- include partials/footer.ejs %>