<%- include partials/header.ejs %>
<div id="container">
  <h1>Welcome</h1>
  <section id="textbox">
    <p>Hello, my name is Dharun Prakash Raju. I am the creator of Speaking of English, a blog for intermediate English
      learners who want to become more fluent in the language. I am originally from the United States and I currently
      live in Germany. I have been a teacher since 2008, and specialize in business writing and IELTS preparation.
      Before becoming a teacher, I worked as a copyeditor for government agencies in Washington DC and as a ghostwriter
      for startup founders and independent consultants around the world. In my free time, I enjoy hiking, practicing
      photography, and exploring the city by bike.</p>
  </section>
</div>
<%- include partials/footer.ejs %>