<%- include partials/header.ejs %>
<div id="container">
  <h1><%= title %></h1>
  <section id="textbox">
    <h1>Sheet Metal Fabricator, Skill Metal Fabricators </h1>
    <p>
      - prepared, wrapped, weighed and loaded items
      - processed all invoicing, freight and packing slips
      - used computers to verify inventory and pull inventory
      - followed all procedures and kept accurate records
      - kept warehouse items organized and accounted for
      - resolved issues relating to the condition and delivery of orders
    </p>
    <h2>Cashier, Emme's Esso</h2>
    <p>
      - used scanners, cash registers and calculators
      - processed cash, credit cards, refunds and other types of payment
      - greeted customers in a polite and friendly manner
      - accurately counted money from beginning to end of shift
      - stocked and organized shelves
    </p>
  </section>
</div>
<%- include partials/footer.ejs %>