<%- include partials/header.ejs %>
<div id="container">
  <h1><%= title %></h1>
  <section id="textbox">
    <h1>Business website solutions</h1>
    <p>
      We offer a range of website solutions to businesses including B2B or B2C websites for corporate clients from a
      small 10 page website to a fully-fledged bespoke content management system. We deliver custom – made websites
      tailored to your requirements.

      See testimonials from our clients.

      See portfolio for examples of our work.

      Our team has substantial experience building business to business websites that delivers a corporate website
      design as well as ease of functionality.

      Why use KDR for your business website?

      We deliver engaging low cost, SEO-friendly and accessible websites. Why pay for larger companies overheads, when
      you can get a less costly, more personalised service from KDR.</p>

    <h1>Education and charity website solutions</h1>
    <p>
      We offer a range of flexible solutions to clients in these sectors, from a simple presence website to a WordPress
      content management system, enabling the client to manage their own content and upload their own resources. We use
      our knowledge and experience to deliver content rich accessible websites meeting our clients exacting
      requirements.

      Why use KDR for your charity or education website?

      We have ten years experience successfully delivering in the education and charitable sector.

      Our most recent website was for SSAT (The Schools Network).</p>
  </section>
</div>
<%- include partials/footer.ejs %>